@import "tailwindcss";
@plugin "daisyui" {
  themes: lemonade --default, light, dark, cupcake, dracula, synthwave, retro, cyberpunk, forest, aqua;
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
